body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
}


.gradient-purple-blue {
    background: #7f7fd5;
    background: -webkit-linear-gradient(
      to top right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -o-linear-gradient(
      to top right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -moz-linear-gradient(
      to top right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background-image: linear-gradient(
      to top right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
  }
  
  .container-switch {
    padding-top: 60px;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  
  .switch-back {
    opacity: 20%;
    background: #7f7fd5;
    background: -webkit-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -o-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -moz-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background-image: linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
  }
  
  .switch-button {
    width: 100%;
    height: 3em;
    text-align: center;
    position: absolute;
    border-radius: 1.5em;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
    will-change: transform;
    z-index: 2 !important;
    cursor: default;
    transition: 0.3s ease all;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .switch-button-case {
    top: 0;
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: rgba(0, 0, 0, 0.2);
    position: relative;
    border: none;
    transition: 0.3s ease all;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 1px;
  }
  
  .switch-button-case.not-active:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    letter-spacing: 3px;
    transition: all 0.4s ease 0s;
  }
  
  .switch-button-case:focus {
    outline: none;
  }
  
  .switch-button .active {
    color: #151515;
    background: #7f7fd5;
    background: -webkit-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -o-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background: -moz-linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background-image: linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    background-size: 200% 100%;
    background-position: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 53%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-out all;
    border-radius: 25px;
    cursor: default;
  }
  
  .switch-button .active-case {
    color: white;
  }
  
  .switch-button .active-case:hover {
    cursor: default;
  }

  .transition {
      
    transition: all 0.4s;
  }